:root {
    --offconvas-width: 270px;
    --topNavbarHeight: 56px;
}
.main-title{
    color: #fff;

}
.sidebar-nav{
    width: var(--offconvas-width) !important;
    margin-top: var(--topNavbarHeight);
}
.sidebar-link[aria-expanded="true"] .icon {
    transform: rotate(180deg);
}
.sidebar-link .icon{
    display: inline-flex;
}

.backgroundcolor{
    background-color: #283e4b;
}
.mycard{
    text-align: center;
    line-height: 2;
}
.mycard span{
    font-size: 45px;
}
@media screen and (min-width: 1200px) {
    .ms-2{
        font-size: 1.1rem !important;
        letter-spacing: 0.1rem;
    }
  }
@media(min-width : 920px){
    .navbar-brand {
        font-size: 0.9rem !important;
    }
    .offcanvas-backdrop::before{
        display: none !important;
    }
    .mycard{
        flex-wrap: wrap;
        margin-top: 100px;
    }
    section{
        margin-left:var(--offconvas-width) ;
    }
    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        top:var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
    
}
@media(min-width : 390px){
    .navbar-brand {
      font-size: 1rem !important ;
    }
    .admin_dashboard{
        margin-top: 13px !important;
    }
    .navbar-nav .dropdown-menu {
        position: absolute !important;
    }
}

.sidebar{
    height:100vh;
    background-color:#455963; 
}

.main-div{
    padding-top:60px;
}

.sidebar-sticky{
    padding-top:45px;
}

.sidebar-sticky svg{
    padding-right:7px;
}

.sidebar-sticky ul li a{
    color:#fff;
}

.sidebar-sticky ul li{
    margin-top:5px;
}

.sidebar-sticky ul li a{
    border-radius:5px;
}

.sidebar-sticky ul li a.active{
    border:1px solid #324c5b;
    border-radius:5px;
    background-color:#324c5b;
    color:#fff;
}

.sidebar-sticky ul li a:hover{
    color:#fff;
    border:1px solid #fff;
    border-radius:5px;
}

.user-menu-item{
    color:#fff;
    text-decoration:none;
    cursor: pointer;
}

.user-menu-item:hover{
    color:#fff;
}
.font-12{
    font-size: 15px;
}
.issue_btn{
    background: #000 !important;
    color: #fff !important;
}
.search-customization{
    display: flex;
    justify-content: space-between;
}
.cardBox {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.cardBox .card {
    position: relative;
    background: #fff;
    padding: 16px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 6px 0px 41px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 6px 0px 41px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 6px 0px 41px 5px rgba(0,0,0,0.1);
}
  
.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: #1b5672;
    margin-left: 5px;
}
.cardBox .card .cardName {
    color: black;
    font-size: 0.9rem;
    margin-top: 5px;
    letter-spacing: 0.1rem;
    margin-left: 6px;

}
  
.cardBox .card .iconBx {
    font-size: 1.5rem;
    color: black;
}
  
.cardBox .card:hover {
    background:#3c515c;
}
  .cardBox .card:hover .numbers,
  .cardBox .card:hover .cardName,
  .cardBox .card:hover .iconBx {
    color: #fff;
}
.card-a{
   text-decoration: none;
}

 .edit{
    color: rgb(9, 221, 236) !important;
 }
 .table-font-size{
    font-size: 0.8rem !important;
 }