:root {
    --offconvas-width: 270px;
    --topNavbarHeight: 56px;
}

.sidebar-nav{
    width: var(--offconvas-width) !important;
    margin-top: var(--topNavbarHeight);
}
.sidebar-link[aria-expanded="true"] .icon {
    transform: rotate(180deg);
}
.sidebar-link .icon{
    display: inline-flex;
}
.navbar{
    background-color:#102f48;
}
.offcanvas {
    background-color:#102f48 !important;
}
.mycard{
    text-align: center;
    line-height: 2;
}
.mycard span{
    font-size: 45px;
}
@media screen and (min-width: 1200px) {
    .ms-2{
        font-size: 1.6rem !important;
    }
  }
@media(min-width : 920px){
    .navbar-brand {
        font-size: 0.9rem !important;
    }
    .offcanvas-backdrop::before{
        display: none !important;
    }
    .mycard{
        flex-wrap: wrap;
        margin-top: 100px;
    }
    section{
        margin-left:var(--offconvas-width) ;
    }
    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        top:var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
    
}
@media(min-width : 390px){
    .navbar-brand {
      font-size: 1rem !important ;
    }
    .admin_dashboard{
        margin-top: 13px !important;
    }
    .navbar-nav .dropdown-menu {
        position: absolute !important;
    }
}

.sidebar{
    height:100vh;
}

.main-div{
    padding-top:70px;
}

.sidebar-sticky{
    padding-top:60px;
}
.sidebar-sticky{
    padding-top:60px;
}

.sidebar-sticky svg{
    padding-right:7px;
}

.sidebar-sticky ul li a{
    color:#fff;
}

.sidebar-sticky ul li{
    margin-top:5px;
}

.sidebar-sticky ul li a{
    border:1px solid #212529;
    border-radius:5px;
}

.sidebar-sticky ul li a.active{
    border:1px solid #484848;
    border-radius:5px;
    background-color:#484848;
    color:#fff;
}

.sidebar-sticky ul li a:hover{
    color:#fff;
    border:1px solid #484848;
    border-radius:5px;
}

.user-menu-item{
    color:#fff;
    text-decoration:none;
    cursor: pointer;
}

.user-menu-item:hover{
    color:#fff;
}
.font-12{
    font-size: 20px;
}
.issue_btn{
    background: #000 !important;
    color: #fff !important;
}
.small-box{
    border-radius: 5px;
    height: 100%;
}  
.small-size{
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
}
.box-4{
    background-color: #970707;
}
.box-1{
    background-color: #076c10;
}
.box-2{
    background-color: #081c99;

}
.box-3{
    background-color: #054b43;

}
.small-size-user{
    font-size: 3rem;
    color: #000000;
    font-weight: 700;
}
.small-p-user{
    font-size: 18px;
    margin-left: 1px;
    color: #000000;
}
.small-p{
    font-size: 18px;
    margin-left: 1px;
    color: #fff;
}
.small-box>.small-box-footer {
    background-color: rgba(0,0,0,.1);
    color: rgba(255,255,255,.8);
    display: block;
    padding: 9px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}
.inner{
    padding:15px ;
}