{% extends 'main.html' %}

{% block title %}Add User {% endblock title %}

{% block content %}


<div class="container pt-4 ">
    <div class="row">
        <div class="col col-12">
            <div class="card">
                <div class="card-body p-4">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row p-2">
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label for="">Username :</label>
                                        <input type="text" name="username" class="form-control mb-3">
                                    </div>
                                    <div class="form-group">
                                        <label for="">First Name :</label>
                                        <input type="text" name="first_name" id="" class="form-control mb-3">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Father Name :</label>
                                        <input type="text" name="father_name" id="" class="form-control mb-3">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Last Name :</label>
                                        <input type="text" name="last_name" id="" class="form-control mb-3">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Email :</label>
                                        <input type="email" name="email" id="" class="form-control mb-3">
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="me-2 fw-700">Gender:</label>
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="radio" name="gender" id="male" value="M">
                                        <label for="male" class="me-5">Male</label>
                                        <input type="radio" name="gender" id="female" value="F">
                                        <label for="female" class="me-1">Female</label>
                                    </div>
        
        
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Phone Number :</label>
                                        <input type="text" name="phone_number" class="form-control mb-3 ">
                                    </div>
                                    <div class="form-group">
                                        <label for="">User Id :</label>
                                        <input type="text" name="user_id" class="form-control mb-3">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Role :</label>
                                        <select class="form-control mb-3" name="group" id="group">
                                            {%for group in groups%}
                                                <option value="{{group.id}}">{{group.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Password :</label>
                                        <input type="password" name="password" id="" class="form-control mb-3">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Password Confirmation :</label>
                                        <input type="password" name="password1" id="" class="form-control mb-3">
                                    </div>
                                </div>   
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-secondary w-100" value="Add">
                                    </div>  
                                </div>              
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>

<!-- <script>
    var password1 = document.getElementById('id_password1');
    password1.className += 'form-control';
    
    var password2 = document.getElementById('id_password2');
    password2.className += 'form-control';
</script> -->

{% endblock %}