{% extends 'main.html' %}

{% load crispy_forms_tags%}

{% block title %}Add User {% endblock title %}

{% block content %}


<div class="container ">
    <div class="row">
        <div class="col col-12">
            <div class="card">
                <div class="card-body p-4">
                    <form action="" method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">{{form.username  | as_crispy_field}}</div>
                            <div class="col-md-6">{{form.email | as_crispy_field}}</div>
                            <div class="col-md-6">{{form.user_id | as_crispy_field}} </div>
                            <div class="col-md-6">{{form.group | as_crispy_field}}</div>
                            <div class="col-md-12">{{form.password | as_crispy_field}}</div>
                            <div class="col-md-12">
                                <label for="" >Password Confirmation</label>
                                <input type="password" id="cpwd" class="form-control mb-3">
                            </div>
                            <div id="showPasswordError"></div>
                        </div>
                        <input type="submit" value="Save" class="btn btn-secondary w-100 border-none">
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>
<script>
$(document).ready(function(){
    $('#cpwd').keyup(function(){
        var password = $('#id_password').val();
        var cpwd = $('#cpwd').val();

        if(cpwd!=password){
            $('#showPasswordError').html('** Password are not matching');
            $('#showPasswordError').css('color','red');
            return false;
        }else{
            $('#showPasswordError').html('');
            return true;
        }
        
    });
});

</script>
{% endblock %}