{% extends 'main.html' %}

{% block title %}Books List{% endblock title %}

{% block content %}
<div class="search-customization">
	<div class="mb-3 w-50">
	  <form id="searchForm" action="{% url 'books-management' %}" method="GET">
		<div class="input-group">
		  <input
			class="form-control border"
			type="search"
			placeholder="Enter The Book Title"
			id="example-search-input"
			name="search_book"
			value="{{search_book}}"
		  />
		  <span class="input-group-append">
			<input
			  class="btn btn-outline-secondary bg-light border-bottom-0 border "
			  type="submit"
			  value="search"
			/>
		  </span>
		</div>
	  </form>
	</div>
</div>


<div class="p-4 shadow bg-white ">
	<table class="table table-font-size table-hover " >
		<thead>
			<tr>
				<th>Cover</th>
				<th>Title</th>
				<th>Description</th>
				<th>Author</th>
				<th>Issue Date</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<tbody>
			{% for book in books %}
				<tr>
					<td>
						{% if book.cover_photo %}
							<img src="{{ book.cover_photo.url }}" style="width:70px;">
						{% endif %}
					</td>
					<td id="bookTitle{{book.id}}">{{book.title}}</td>
					<td>{{book.description |slice:"13"}}</td>
					<td>{{book.author}}</td>
					<td>{{book.issue_date}}</td>
					<td>{{book.available_quantity}}</td>
				</tr>				
			{% endfor %}
		</tbody>
	</table>
</div> 
<br>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Delete Book</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		   <p>Are you sure want to delete this Record? </p>
		   <p class="text-warning">informations will be delete for (<span id="modalBookTitle"></span>)</p>
		  
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <a href="" id="set_url" class="btn btn-danger">Delete</a>
		</div>
	  </div>
	</div>
  </div>

  {% include 'pagination.html' with queryset=books custom_range=custom_range %}
{% endblock content %}