{% extends 'main.html' %}

{% block title %}Books Management{% endblock title %}

{% block content %}




<div class="search-customization">
	<div class="mb-3 w-50">
	  <form id="searchForm" action="{% url 'books-management' %}" method="GET">
		<div class="input-group">
		  <input
			class="form-control border"
			type="search"
			placeholder="Enter The Book Title"
			id="example-search-input"
			name="search_book"
			value="{{search_book}}"
		  />
		  <span class="input-group-append">
			<input
			  class="btn btn-outline-secondary bg-light border-bottom-0 border "
			  type="submit"
			  value="search"
			/>
		  </span>
		</div>
	  </form>
	</div>
	<div>
		<a href="{% url 'add-book' %}" class="btn" style="background-color: #455963; color: #fff;"><i class="fa-sharp fa-solid fa-plus me-2"></i>Add Book</a>
	</div>
</div>


{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
    {% endfor %}
{% endif %}

<div class="p-4 shadow bg-white ">
	<table class="table table-font-size table-hover " >
		<thead>
			<tr>
				<th>Id</th>
				<th>Cover Photo</th>
				<th>Title</th>
				<th>Category</th>
				<th>Author</th>
				<th>Issue Date</th>
				<th>Quantity</th>
				<th class="text-center">Action</th>
			</tr>
		</thead>
		<tbody>
			{% if book %}
				{% for book in books %}
					<tr>
						<td>{{book.id}}</td>
						<td>
							{% if book.cover_photo %}
								<img src="{{ book.cover_photo.url }}" style="width:70px;">
							{% endif %}
						</td>
						<td id="bookTitle{{book.id}}">{{book.title}}</td>
						<td>{{book.category}}</td>
						<td>{{book.author}}</td>
						<td>{{book.issue_date}}</td>
						<td>{{book.available_quantity}}</td>
						<td style="width: 108px;">
							<a href="{% url 'update-book' book.id %}" class="edit" data-toggle="modal"><i class="fa-solid fa-pen-to-square "></i></a>
							<button  type="button" class="text-danger" value="{{book.id}}" style="border:none; background-color: transparent;"  data-bs-toggle="modal" data-bs-target="#exampleModal" role="button" onclick="checkdelete(this)">
								<i class="fa-solid fa-trash" data-toggle="tooltip" title="delete"></i>
							</button>
						</td>
					</tr>				
				{% endfor %}
			{% else %}
					<tr>
						<td colspan="8">Empty</td>
					</tr>
			{% endif %}
		</tbody>
	</table>
</div> 
<br>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Delete Book</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		   <p>Are you sure want to delete this Record? </p>
		   <p class="text-warning">informations will be delete for (<span id="modalBookTitle"></span>)</p>
		  
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <a href="" id="set_url" class="btn btn-danger">Delete</a>
		</div>
	  </div>
	</div>
  </div>

  <script>
	function checkdelete(el){
		const id = el.value
		const booktitle = document.querySelector(`#bookTitle${id}`).innerHTML
		console.log(booktitle)
		document.querySelector('#set_url').href = `/delete-book/${id}`
		document.querySelector('#modalBookTitle').innerHTML = booktitle
	}
  </script>
	{% include 'pagination.html' with queryset=books custom_range=custom_range %}

{% endblock %}