{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block body %}



<div class="container">
    <div class="d-flex justify-content-center align-items-center mt-5" style="margin-top: 6rem !important; margin: auto;max-width: 100%;width: 611px;">
        <div class="card p-5 shadow">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %} 
            <form method="POST">
                {% csrf_token %}
               <div class="row">
                <div class="col-md-6">
                    {{form.full_name | as_crispy_field}}
                </div>
                <div class="col-md-6">
                    {{form.phone_number | as_crispy_field}}

                </div>
                <div class="col-md-12">
                    {{form.email | as_crispy_field}}
                </div>
                <div class="col-md-12">
                    {{form.message | as_crispy_field}}
                </div>
               </div>
               <button class="btn btn-primary " type="submit">Submit</button>
            </form>
        </div>  
    </div>      
</div>
{% endblock body %}