
{% extends 'main.html' %}
{% load static %}
{% block title %} Dashbord{% endblock title %}
{% block content %}

<div class="cardBox">
  <a href="{% url 'view-issuebook' 'today' %}" class="card-a">
    <div class="card">
        <div>
            <div class="numbers">{{total_issued_books_today}}</div>
            <div class="cardName">Todays issued <i class="fa-solid fa-chevron-right"></i></div>
        </div>
    </div>
  </a>

  <a href="{% url 'view-issuebook' 'all' %}" class="card-a">
    <div class="card">
        <div>
            <div class="numbers">{{total_issued}}</div>
            <div class="cardName">Total Issued Books <i class="fa-solid fa-chevron-right"></i></div>
        </div> 
    </div>
  </a>

  <a href="{% url 'users-management' %}" class="card-a">
    <div class="card">
        <div>
            <div class="numbers">{{totalusers}}</div>
            <div class="cardName">Total Users <i class="fa-solid fa-chevron-right"></i></div>
        </div>
    </div>
  </a>

  <a href="{% url 'books-management' %}" class="card-a">
  <div class="card">
      <div>
          <div class="numbers">{{totalbooks}}</div>
          <div class="cardName">Total Books <i class="fa-solid fa-chevron-right"></i></div>
      </div>
  </div>
  </a>
</div>


      <br>
      <h3>Deadline return borrowed books in Five days</h3>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>User</th>
            <th>Book ID</th>
            <th>Issue Date</th>
            <th  colspan="2">Expected Return Date</th> 
          </tr>
        </thead>
        <tbody>
            {% for book in deadline_returns_book %}
            <tr>
              <td>{{book.id}}</td>
              <td>{{book.user_id}}</td>
              <td>{{book.book_id}}</td>	
              <td>{{book.issue_date}}</td>	
              <td >{{book.expected_return_date}}</td>	
            </tr>					
            {% endfor %}
        
        </tbody>
      </table>
     


{% endblock content %}
