
{% extends 'main.html' %}
{% load static %}
{% block title %} Dashbord{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-lg-3 col-6" >
          <!-- small box -->
          <div class="small-box box-4">
            <div class="inner">
              <h3 class="small-size">{{total_issued_books_today}}</h3>

              <p class="small-p">Todays issued</p>
            </div>
            <a href="{% url 'view-issuebook' 'today' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box box-1">
            <div class="inner">
              <h3 class="small-size">{{total_issued}}</h3>

              <p class="small-p">Total Issued Books</p>
            </div>
            
            <a href="{% url 'view-issuebook' 'all' %} " class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box box-2">
            <div class="inner">
              <h3 class="small-size">{{totalusers}}</h3>

              <p class="small-p">Total Users</p>
            </div>
           
            <a href="{% url 'users-management' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box box-3">
            <div class="inner">
              <h3 class="small-size">{{totalbooks}}</h3>

              <p class="small-p">Total Books</p>
            </div>
            
            <a href="{% url 'books-management' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <br>
      <h3>Deadline return borrowed books in Five days</h3>
      <hr>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>User</th>
            <th>Book ID</th>
            <th>Issue Date</th>
            <th>Expected Return Date</th>
            <th>Returned Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            {% for book in deadline_returns_book %}
            <tr>
              <td>{{book.id}}</td>
              <td>{{book.user_id}}</td>
              <td>{{book.book_id}}</td>	
              <td>{{book.issue_date}}</td>	
              <td>{{book.expected_return_date}}</td>	
              <td>{{book.returned_date}}</td>
              <td></td>	
            </tr>					
            {% endfor %}
        
        </tbody>
      </table>

{% endblock content %}
