{% extends 'main.html' %} 

{% block title %}Issue Books To: ({{request.user.username}}){% endblock title %}

{% block content %}

<div class="cardBox">
	<a href="{% url 'issue-book-to-student' %}" class="card-a">
	  <div class="card">
		  <div>
			  <div class="numbers">{{issuebook_count}}</div>
			  <div class="cardName">Issued Books <i class="fa-solid fa-chevron-right"></i></div>
		  </div> 
	  </div>
	</a>
  
	<a href="{% url 'book-list' %}" class="card-a">
	<div class="card">
		<div>
			<div class="numbers">{{total_books}}</div>
			<div class="cardName">Total Books <i class="fa-solid fa-chevron-right"></i></div>
		</div>
	</div>
	</a>
  </div>
  

{% endblock %}
