{% extends 'main.html' %}

{% block title %}Issue Book{% endblock title %}

{% block content %}

<form action="#" method="POST">
    {% csrf_token %}
    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 600px;">
        <div class="w-50 border py-5 p-5 rounded-3 " style="background-color: #fff;" >

            <select name="user_id" class="form-select mb-4" aria-label="Default select example">
                {% for user in users %}
                    <option value="{{user.id}}">{{user.first_name}}</option>
                {% endfor %}
            </select>

            <select name="book_id" class="form-select mb-4 " aria-label="Default select example">
                {% for book in books %}
                <option value="{{book.id}}">{{book.title}}</option>
                {% endfor %}
            </select>

            <input type="date" name="expected_return_date" class="form-control mb-4">

            <button type="sumbit" class="btn btn-primary w-100">Issue</button>

      </div>
        
    </div>
</form>













<!-- <div class="d-flex"> 
    <form method="POST">
        {% csrf_token %}
        <div class=" mb-3">
            <select class="form-select" id="inputGroupSelect01">
            <option selected>User Id</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            </select>
        </div>

        <div class=" mb-3">
            <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose User</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            </select>
        </div>

        <div class=" mb-3">
            <select class="form-select" id="inputGroupSelect01">
            <option selected>Book Id</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            </select>
        </div>

        <div class="form-group">
            <label for="message">Expected Return Date</label>
            <input class="form-control" id="message" name="expected_return_date" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Issue</button>
    </form>
</div> -->

{% endblock content %}