{% extends 'main.html' %}

{% block title %}Issue Book{% endblock title %}

{% block content %}

<form action="#" method="POST">
    {% csrf_token %}
    <div class="d-flex flex-column " style="min-height: 500px;" >
        <div class=" border  p-5 rounded-3 " style="background-color: #fff;" >
            <div class="input-group mb-3">
                <label for="">Choose User :</label>
                <select id="my-select" name="user_id" class="input-group mb-4" aria-label="Default select example">
                    {% for user in users %}
                        <option value="{{user.id}}">{{user.first_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group mb-3 w-100">
                <label for="">Choose Book :</label>
                <select id="my-select2" name="book_id" class="input-group mb-4 " aria-label="Default select example">
                    {% for book in books %}
                    <option value="{{book.id}}">{{book.title}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group"></div>
            <label for="">Expected return date :</label>
            <input type="date" name="expected_return_date" id="expected_return_date"  class="form-control mb-4" required>

            <button type="sumbit" class="btn btn-secondary w-100">Issue</button>
      </div>
        
    </div>
</form>
<script>
    var today = new Date().toISOString().split('T')[0];
    document.getElementById("expected_return_date").setAttribute("min", today);

    $(document).ready(function() {
        $('#my-select').select2();
    });
    $(document).ready(function() {
        $('#my-select2').select2();
    });
</script>


{% endblock content %}