{% extends 'main.html' %} 
{% block title %} Favourite Books{% endblock title %}
{% block content %}
<div class="p-4 shadow bg-white ">
	<div class="row">
			{% for book in books %}
				<div class="col-md-6">
					<div class="card mb-3" style="max-width: 540px;">
						<div class="row g-0">
							<div class="col-md-4">
								{% if book.cover_photo %}
								<img src="{{ book.cover_photo.url }}" class="img-fluid rounded-start" alt="">
								{% endif %}
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title" id="bookTitle{{book.id}}">Book Title: {{book.title}}</h5>
									<p class="card-text">Category: {{book.category}}</p>
									<p class="card-text">Author: {{book.author}}</p>
									<p class="card-text">Available Quantity in library : {{book.available_quantity}}</p>
									<p class="card-text"><small class="text-muted">Issue Date: {{book.issue_date}}</small></p>
										<div class="d-flex justify-content-between">
												{% if book.is_favourite %}
													<a href="{% url 'favourite' book_id=book.id favourite=0 %}" class="btn btn-default shadow-sm">
														<i class="fa-solid fa-star text-warning"></i>
													</a>
												{% else %}
												<a href="{% url 'favourite' book_id=book.id favourite=1 %}" class="btn btn-default shadow-sm">
												<i class="fa-regular fa-star"></i>
												</a>
												{% endif %}
										
												{% if book.is_liked %}
													<a href="{% url 'like' book_id=book.id like=0 %}" class="btn btn-default shadow-sm">
														<i class="fa-solid fa-thumbs-up text-primary"></i>
													</a>
												{% else %}
													<a href="{% url 'like' book_id=book.id like=1 %}"class="btn btn-default shadow-sm">
														<i class="fa-regular fa-thumbs-up"></i>
													</a>
												{% endif %}
										
												{% if book.file != null and book.file != "" %}
													<a href="{{ book.file.url }}" class="btn btn-primary text-white">
														<i class="fa-solid fa-download"></i>
													</a>
												{% endif %}
										</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			{% endfor %}
	</div>	
</div>

{% endblock %}
