
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Register Page</title>
  </head>
  <body>
    <div class="wrapper">
        <div class="container main">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row registerform p-4">
                        <div class="col-md-12">
                            <div>
                                <h4 class="h1-register mt-4">Registerations</h4>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="form-group">
                                <label for="">Username :</label>
                                <input type="text" name="username" class="form-control mb-3">
                            </div>
                            <div class="form-group">
                                <label for="">First Name :</label>
                                <input type="text" name="firstname" id="" class="form-control mb-3">
                            </div>
                            <div class="form-group">
                                <label for="">Last Name :</label>
                                <input type="text" name="lastname" id="" class="form-control mb-3">
                            </div>
                            <div class="form-group">
                                <label for="">Email :</label>
                                <input type="email" name="email" id="" class="form-control mb-3">
                            </div>
                            <div class="form-group">
                                <label for="" class="me-2 fw-700">Gender:</label>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="gender" id="male">
                                <label for="male" class="me-5">Male</label>
                                <input type="radio" name="gender" id="female" >
                                <label for="female" class="me-1">Female</label>
                            </div>


                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="form-group">
                                <label for="">Phone Number :</label>
                                <input type="text" name="phone_number" class="form-control mb-3 ">
                            </div>
                            <div class="form-group">
                                <label for="">User Id :</label>
                                <input type="text" name="user_id" class="form-control mb-3">
                            </div>
                            <div class="form-group">
                                <label for="">Group :</label>
                                <input type="text" name="group" id="" class="form-select mb-3">
                            </div>
                            <div class="form-group">
                                <label for="">Password :</label>
                                <input type="password" name="password1" id="" class="form-control mb-3">
                            </div>
                            <div class="form-group">
                                <label for="">Password Confirmation :</label>
                                <input type="password" name="password2" id="" class="form-control mb-3">
                            </div>
                        </div>   
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" class="submit w-100" value="Sign Up">
                                <div class="signin">
                                    <span>Already have an account? <a href="{% url 'login-page' %}">Login</a></span>
                                </div>
                            </div>
                            
                        </div>              
                </div>
            </form>
        </div>
    </div>
  </body>
</html>
