{% extends 'main.html' %}

{% block title %}Student List{% endblock title %}

{% block content %}

<div  class="search-customization">
	<div class="mb-3 w-50">
	  <form id="searchForm" action="{% url 'users-management' %}" method="GET">
		<div class="input-group">
		  <input
			class="form-control border-end-0 border"
			type="search"
			placeholder="Enter username"
			id="example-search-input"
			name="search_user"
			value="{{search_user}}"
		  />
		  <span class="input-group-append">
			<input
			  class="btn btn-outline-secondary bg-light border-bottom-0 border ms-n5"
			  type="submit"
			  value="search"
			/>
		  </span>
		</div>
	  </form>
	</div>
  <div class="mb-3">
		<a href="{% url 'add-teacher' %}" class="btn" style="background-color: #455963; color: #fff;"><i class="fa-sharp fa-solid fa-plus me-2"></i>Add Student</a>
	</div>
</div>

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
    {% endfor %}
{% endif %}

<div class="p-4 shadow bg-white">					
    <table class="table table-hover table-font-size">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Father Name</th>
                <th scope="col">Phone Number</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
          {% if object_list %}
            {% for teacher in object_list %}
                <tr>
                    <td>{{teacher.id}}</td>
                    <td>{{teacher.first_name}}</td>
                    <td>{{teacher.last_name}}</td> 
                    <td>{{teacher.father_name}}</td>
                    <td>{{teacher.phone_number}}</td>
                    <td>
                      <a href="{% url 'update-teacher' teacher.id %}" class="edit" data-toggle="modal"><i class="fa-solid fa-pen-to-square"></i></a>
                  </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                  <td colspan="10">Empty</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<br>
    <!-- {% include 'pagination.html' with queryset=users custom_range=custom_range %} -->
{% endblock %}