{% extends 'main.html' %}

{% block title %}Update User{% endblock title %}

{% block content %}

<div class="container pt-4">
    <div class="row">
        <div class="col col-8 offset-2">
            <div class="card">
                <div class="card-body p-4">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label >{{form.username.label}}</label>
                                    {{form.username}}
                                </div>

                                <div class="form-group mb-3">
                                    <label >{{form.first_name.label}}</label>
                                    {{form.first_name}}
                                </div>

                                <div class="form-group mb-3">
                                    <label >{{form.last_name.label}}</label>
                                    {{form.last_name}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label>{{form.email.label}}</label>
                                    {{form.email}}
                                </div>

                                <div class="form-group mb-3">
                                    <label>{{form.password1.label}}</label>
                                    {{form.password1}}
                                </div>

                                <div class="form-group">
                                    <label>{{form.password2.label}}</label>
                                    {{form.password2}} 
                                </div>

                                <div class="form-group">
                                    <label>Role</label>
                                    <select class="form-control" name="group">
                                        <option value="student" {% if user_group == 'student' %}selected{%endif%}>Student</option>
                                        <option value="admin" {% if user_group == 'admin' %}selected{%endif%}>Admin</option>
                                    </select>
                                </div>
                            </div>
                    </div>
                        {{form.errors}}
                        <br>
                        <input type="submit" value="Save Changes" class="btn btn-secondary w-100 border-none ">
                    </form>
                </div>
            </div> 
        </div> 
    </div> 
</div>

<script>
    var password1 = document.getElementById('id_password1');
    password1.className += 'form-control';
    
    var password2 = document.getElementById('id_password2');
    password2.className += 'form-control';
</script>
{% endblock %}