{% extends 'main.html' %}

{% block title %}Update User{% endblock title %}

{% block content %}

<div class="container pt-4">
    <div class="row">
        <div class="col col-12">
            <div class="card">
                <div class="card-body p-4">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row registerform p-2">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="">Username :</label>
                                    <input type="text" name="username" class="form-control mb-3" value="{{user.username}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Email :</label>
                                    <input type="email" name="email" id="" value="{{user.email}}" class="form-control mb-3">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">User Id :</label>
                                    <input type="text" name="user_id" value="{{user.user_id}}" class="form-control mb-3">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-secondary w-100" value="Update">
                                </div>  
                            </div>              
                        </div>
                    </form>
                </div>
            </div> 
        </div> 
    </div> 
</div>

<script>
    var password1 = document.getElementById('id_password1');
    password1.className += 'form-control';
    
    var password2 = document.getElementById('id_password2');
    password2.className += 'form-control';
</script>
{% endblock %}