{% extends 'main.html' %} 

{% block content %}
    <div class="row ">
        <div class="col col-md-6 ">
            <div class="card shadow">
                <div class="card-header bg-white">
                    <h3>My Profile</h3>
                </div>
                <div class="card-body">
                    <div>
                        <table class="table table-bordered" style="table-layout: fixed;">
                            <tr>
                                <th>User Id</th>
                                <td>{{user.user_id}}</td>
                            </tr>
                            <tr>
                                <th>Username</th>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <th>First Name</th>
                                <td>{{user.first_name}}</td>
                            </tr><tr>
                                <th>Last Name</th>
                                <td>{{user.last_name}}</td>
                            </tr><tr>
                                <th>Email</th>
                                <td>{{user.email}}</td>
                            </tr><tr>
                                <th>Phone Number</th>
                                <td>{{user.phone_number}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="mx-auto">
                        <a href="{% url 'change-password' %}" class="btn btn-primary me-1"><i class="fa-solid fa-lock"></i> Change Password</a>
                        <a href="{% url 'update-profile' user.id %}" class="btn btn-secondary"><i class="fa-solid fa-pen me-1"></i> Edit Profile</a>
                    </div>
                </div>
            </div> 
        </div> 
    </div> 

{% endblock %}