<div class="footer" id="footer">
    <div class="container p-4 text-white">
        <div class="row">
            <div class="col-md-4">
                <h6 class="fw-bold">Websites for searching books</h6>
                <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjk9qnorruAAxW9k2gJHf6xBH0YABAAGgJ3Zg&ohost=www.google.com&cid=CAESbeD2Ck9h-bMiTmj6A3CnP6FaFgS02vRF88u4xrKkIKXLgOrHbMRedd7rf_0akjT0Xf8q0yHYhslIz_j3v_utYhekF_rubtdi4lZMO4XldwICwYOSr75JCqGkS__IaDkbzVBEn-4b3rxXlPFPryE&sig=AOD64_0n8vEY9huvMVULt_keVoDy8eXNsg&q&adurl&ved=2ahUKEwie4aHorruAAxW9cfEDHRZPA7sQ0Qx6BAgNEAE" class="tags" ><p>www.alibaba.com</p></a>
                <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjj2-7cr7uAAxWC3NUKHTQwDOQYABABGgJ3cw&ohost=www.google.com&cid=CAESbeD2zESxACKnOUIpZ1wWXbJUAa4gev5M6j7Z5NxWWuZLjAKaI06Xtcel3AtvDHdpStAinLYfPabnPp_CMNmFs9AgfeNEruXbg-oBuMSqfg-xykFmOBbwMLAqS76jHqQ7DBjuXc-8DIDzz44nbFc&sig=AOD64_32aJd7bR_qAxa8qgDFhSyL4_UwUg&q&adurl&ved=2ahUKEwjSzubcr7uAAxXMSvEDHdh8AlIQ0Qx6BAgNEAE" class="tags"><p>www.amazon.com</p></a>
                <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjj2-7cr7uAAxWC3NUKHTQwDOQYABADGgJ3cw&ohost=www.google.com&cid=CAESbeD2zESxACKnOUIpZ1wWXbJUAa4gev5M6j7Z5NxWWuZLjAKaI06Xtcel3AtvDHdpStAinLYfPabnPp_CMNmFs9AgfeNEruXbg-oBuMSqfg-xykFmOBbwMLAqS76jHqQ7DBjuXc-8DIDzz44nbFc&sig=AOD64_0ptQt1xtHQ3acoMqT144kw8EjHUw&q&adurl&ved=2ahUKEwjSzubcr7uAAxXMSvEDHdh8AlIQ0Qx6BAgOEAE" class="tags"><p>www.blackwells.com</p></a>
            </div> 
            <div class="col-md-4">
                <h6 class="fw-bold">Contact Us</h6>
                <p>Website: <span class="contact">https://salam.edu.af/</span></p>
                <p>E-mail: <span class="contact">info@salam.edu.af</span></p>
                <p>Phone: <span class="contact">+93 (0) 788 275 275span></p>
                <p>Location: <span class="contact">Kolula Pushta Rd, Guli Surkh Square, Kabul, Afghanistan</span></p>
            </div>
            <div class="col-md-4">
                <h6 class="fw-bold">Social Media</h5>
                    <div class="d-flex justify-content-between w-50">
                        <div><a href="https://www.facebook.com/SalamUniversityAfg" class="footertags"><i class="fa-brands fa-facebook-f"></i></a></div>
                        <div><a href="https://twitter.com/SalemUniv?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="footertags"><i class="fa-brands fa-twitter"></i></a></div>
                        <div><a href="https://www.instagram.com/salamuniversity/?hl=en" class="footertags"><i class="fa-brands fa-instagram"></i></a></div>
                    </div>
            </div>
        </div>
    </div>
</div>