{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="background-color-container">
    <div class="container">
        <div class="row" style="min-height: 500px;">
            <div class="col-md-6 row-customization">
                <div>
                    <h1 class="text-white font">Salam <span class="text-white">Library <br> Management System</span></h1>
                </div>
                <div>
                    <p class="text-white">Expand your reading horizons by searching for books across various genres.</p>
                </div>
                <div>
                    <a href="#footer">
                        <button class="btn btn-primary">Contact Us</button>
                    </a>
                </div>
            </div> 
        </div>
    </div>
</div>

<div class="container">
    <div id="books" class="text-dark text-center mt-5 ">
        <h3>Library Books</h3>
    </div>
</div>

<div class="container mb-5">
    <div class="input-group mb-3 w-50 mx-auto">
        <form action="" class="w-100">
            <div class="d-flex">
                <input type="search" class="form-control" name="search_book" value="{{search_book}}" placeholder="Search for books" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>     
        </form>
    </div>
</div>

<div class="container mb-5 d-flex align-items-center justify-content-center">
    <div class="input-group filter-button mb-3">
        <select class="input-group-customization" id="inputGroupSelect01">
          <option selected>Filter by</option>
          {% for category in categories %}
            <a href="{% url 'index' %}?filter_by={{ category.name }}"><option value="1">{{category.name}}</option></a>
          {% endfor %}
        </select>
      </div>
</div>

<div class="container mb-5">
        <div class="row">
            {% for book in books %}
            <div class="col-md-4">
                <div class="card mb-3 mx-auto card-border" style="max-width: 240px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <a href="{% url 'book-discription' id=book.id %}">
                                {% if book.cover_photo %}
                                    <img src="{{ book.cover_photo.url }}" class="img-fluid card-img" alt="">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-md-12">
                            <div class="card-body">
                                    <h5 class="card-title text-center"> <span>Title: </span>{{book.title}}</h5>
                                <p class="card-text text-center">Category: {{book.category}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>

<div class="container mb-5">
    <div id="category" class="text-center text-dark fw-bolder">
        <h3>Category</h1>
    </div>
</div>

<div class="d-flex justify-content-center gap-2 mb-3 flex-wrap">
	{% for category in categories %}
		<a  href="{% url 'index' %}?filter_by={{ category.name }}">
			<div >
				<button class="landing-button shadow {% if category.name == request.GET.filter_by %}active{% endif %}">{{category.name}}</button>
			</div>
		</a>
	{% endfor %}
</div>
{% endblock body %}