{% load static %}
<nav class="navbar navbar-expand-lg backgroundcolor fixed-top px-3 py-1 justify-content-between">
  {% if request.user.username %}
  <a class="navbar-brand" href="{% url 'admin-page' %}">
    <i class="fa-solid fa-book-open-reader navbar-icon "></i>  
    <span class="ms-2 text-white">LIBRARY MANAGEMENT SYSTEM</span>
  </a>
  {% else %}
    <nav class="navbar navbar-expand-lg backgroundcolor fixed-top bg-light">
      <div class="container">
        <a href="{% url 'index' %}"><img src="{% static 'images/en.png' %}" class="w-48" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-dark fw-bolder" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bolder" href="#books">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bolder" href="#category">Category</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  {% endif %}

  <div class="dropdown">
    {% if request.user.username %}
    <a class="dropdown-toggle user-menu-item" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-user me-2 text-white"></i>
      <span class="text-white">{{request.user.username}}</span>
    </a>
    
    <ul class="dropdown-menu dropdown-menu-lg-end mt-2">
      {% if not request.user.is_staff %}
        <li>
          <a class="dropdown-item" href="{% url 'user-profile' %}">Account</a>
        </li>
      {% endif %}
      <li>
        <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
      </li>  
    </ul>
    {% endif %}
  </div>
</nav>