<nav class="col-md-2 d-none d-md-block sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      {% if request.user.is_staff %}
      
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == '/admin-page/' %}active{% endif %}" href="{% url 'admin-page' %}">
            <div class="row g-0">
              <div class="col-md-2 text-center">
                <i class="fa-solid fa-house "></i>            
              </div>
              <div class="col-md-10">
                <span class="font-12">Dashboard</span>
              </div>
            </div>
          </a>
        </li>
     
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == '/books-management/' %}active{% endif %}" href="{% url 'books-management' %}">
            <div class="row g-0">
              <div class="col-md-2 text-center">
                <i class="fa-solid fa-book"></i>            
              </div>
              <div class="col-md-10">
                <span class="font-12"> Books List</span>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == '/users-management/' %}active{% endif %}" href="{% url 'users-management' %}">
            <div class="row g-0 ">
              <div class="col-md-2 text-center">
                <i class="fa-solid fa-users"></i>            
              </div>
              <div class="col-md-10">
                <span class="font-12">Users List</span>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == '/view-issuebook/all' %}active{% endif %}" href="{% url 'view-issuebook' 'all' %}">
            <div class="row g-0 ">
              <div class="col-md-2 text-center">
                <i class="fa-regular fa-address-book"></i>            
              </div>
              <div class="col-md-10">
                <span class="font-12">Issued Books</span>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == '/category/' %}active{% endif %}" href="{% url 'category-list'  %}">
            <div class="row g-0">
              <div class="col-md-2 text-center">
                <i class="fa-solid fa-file-zipper"></i>            
              </div>
              <div class="col-md-10">
                <span class="font-12">Category</span>
              </div>
            </div>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == '/studentlist/' %}active{% endif %}" href="{% url 'studentlist'  %}">
            <div class="row g-0">
              <div class="col-md-2 text-center">
                <i class="fa-solid fa-user-graduate"></i>            
              </div>
              <div class="col-md-10">
                <span class="font-12"> Student List</span>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == '/teachertlist/' %}active{% endif %}" href="{% url 'teacherlist'  %}">
            <div class="row g-0">
              <div class="col-md-2 text-center">
                <i class="fa-solid fa-person-chalkboard"></i>            
              </div>
              <div class="col-md-10">
                <span class="font-12">Teacher List</span>
              </div>
            </div>
          </a>
        </li>
      {% endif %}

      {% if not request.user.is_staff%}
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == '/view-issue-to-student/' %}active{% endif %}" href="{% url 'view-issue-to-student' %}">
            <div class="row g-0">
              <div class="col-md-2 text-center">
                <i class="fa-solid fa-house"></i>            
              </div>
              <div class="col-md-10">
                <span class="font-12">User Dashboard</span>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == '/book_list/' %}active{% endif %}" href="{% url 'book-list' %}">
            <div class="row g-0">
              <div class="col-md-2 text-center">
                <i class="fa-solid fa-book"></i>            
              </div>
              <div class="col-md-10">
                <span class="font-12"> Books</span>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == '/issue-book-to-student/' %}active{% endif %}" href="{% url 'issue-book-to-student' %}">
            <div class="row g-0">
              <div class="col-md-2 text-center">
                <i class="fa-regular fa-address-book"></i>            
              </div>
              <div class="col-md-10">
                <span class="font-12">Issued Books</span>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == '/my-favourites/' %}active{% endif %}" href="{% url 'my-favourites' %}">
            <div class="row g-0">
              <div class="col-md-2 text-center">
                <i class="fa-solid fa-star"></i>            
              </div>
              <div class="col-md-10">
                <span class="font-12">My Favourite</span>
              </div>
            </div>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>